.top-body {
    position: fixed;    /* 스크롤이 있다 하더라도 고정된 위치 */
    /*bottom: 5%;*/         /* 바닥 위치에서 얼마나 떨어트릴지 */
    bottom: 10%;         /* 바닥 위치에서 얼마나 떨어트릴지 */
    left: 1%;           /* 왼쪽 위치에서 얼마나 떨어트릴지 */
    right: 1%;          /* 오른쪽 위치에서 얼마나 떨어트릴지 */

    /*height: 94%;*/         /* 세로 폭이 얼마나 되는지 */
    height: 88%;         /* 세로 폭이 얼마나 되는지 */
}